
:root {
  --top-nav: #131921;
  --bot-nav: #232f3e;

  --top-foot: #37475A;
  --bot-foot: #131A22;

  --dark-orange: #B12704;
}



/*     BUTTONS     BUTTONS     BUTTONS     BUTTONS     BUTTONS     BUTTONS     BUTTONS     BUTTONS     BUTTONS     BUTTONS     */

.main-container {
    display: grid;
    grid-template-columns: 1fr 7.4fr 1fr;
    align-items: start !important;
    grid-template-rows: auto 1fr auto;
}


.footer {
    grid-column: 1 / 4;
    z-index: 10;
    grid-row: 3;
}

.navbar {
    grid-column: 1 / 4;
    z-index: 10;
    grid-row: 1;
}



.main {
    grid-column: 2 / 3;
    grid-row: 2;
    margin-top: -2rem;
}



.side-main-2 {
    grid-column: 3 / 4;
    grid-row: 2;
}



.side-main {
    grid-column: 1 / 2;
    grid-row: 2;
}



.hidden {
    display: none !important;
}


.active {
    display: block !important;
}


.classic-border {
    border: 1px solid lightgrey;
    border-radius: 4px;
}


.text-input {
    height: 33px;
    font-size: 13px;
    box-shadow: inset 0 1px 0 0 #fcf3dc;
    outline: 0;
    border: 1px solid;
    width: 230px;
    border-radius:4px;
    border: 1px solid lightgrey;
}


.button-standard-gradient {
    height: 2.4rem;
    background: -webkit-linear-gradient(top,#f8e3ad,#EEBA37);
    box-shadow: inset 0 1px 0 0 #fcf3dc;
    cursor: pointer;
    outline: 0;
    border: 1px solid;
    width: 6rem;
    border-radius:4px;
    border: 1px solid lightgrey;
}


.login-button {
    height: 33px;
    background: -webkit-linear-gradient(top,#f8e3ad,#EEBA37);
    box-shadow: inset 0 1px 0 0 #fcf3dc;
    cursor: pointer;
    outline: 0;
    border: 1px solid;
    width: 280px;
    border-radius:4px;
    border: 1px solid lightgrey;
}


.line-separator {
    width: 90%;
    background: grey;
    height: 1px;
}


.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo {
    height: 29px;
}


.overlay {
    display: none;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
}


.overlay-high {
    display: none;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 12;
}


.pointer-event-handler {
    pointer-events: none;
}


.shadow {
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
    border-radius: 0.4rem;
}


.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}