#finalize-cart {
    border-radius: 16px;
    border: 0;
    width: 90%;
    height: 32px;
}


.cart-finalizing-container {
    display: grid;
    grid-template-columns: 1fr 15fr 1fr;
}


.cart-finalizing-container-main > div {
    display: flex;
    justify-content: center;
    align-items: center;
}



.cart-finalizing-container-main > div:first-child span {
    font-size: 1.3rem !important;
}


.cart-finalizing-container-main > div:nth-child(2) span {
    font-size: 1.4rem !important;
}


.cart-finalizing-container-main > div:nth-child(3) span {
    font-size: 1.15rem !important;
    
}


.cart-finalizing-container-main > div:nth-child(3) label {
    display: flex;
    align-items: center;
}

