

.edit-profile-container {
    display: grid;
    grid-template-columns: 2fr 7fr 2fr;
    min-height: 35rem;
}

.narrow-container-title {
    font-size: 2.3rem !important;
}

.edit-profile-container-main > div > div {
    border: 0.1rem solid gray;
    padding: 2.5rem;
}

.edit-profile-container-main > div > div:first-child {
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
}

.edit-profile-container-main > div > div:last-child {
    border-bottom-left-radius: 0.4rem;;
    border-bottom-right-radius: 0.4rem;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
}


.single-transaction-card-content > div span:first-child {
    font-weight: 600;
}


.edit-profile-card-grid {
    display: grid;
    grid-template-columns: 6fr 1.5fr;
    place-items: unset !important;
}


.edit-profile-card-button img {
    margin-left: 0.5rem;
}


div .no-transactions-info-container {
    min-height: 30rem;
    display: grid;
    justify-content: center;
    align-items: center;
}

span.no-transactions-info {
    color: gray !important;
    font-size: 3rem !important;
}
