footer {
   width: 100%;
   margin-top: 15rem;
   z-index: 10;
}


footer span, footer li, footer a {
    color: white !important;
}




.footer-lower-part  {
    background: var(--bot-foot);
    height: 220px;
}

.footer-lower-part-inner {
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;

}

.footer-lower-part-inner-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
    padding: 5px 25px 0 25px;
}

.footer-lower-part-inner-main > div {
    display: grid;
    justify-content: start;
}



.footer-lower-part-inner div:nth-child(2) > div a {
    font-size: 10px !important;
    line-height: 15px;
    font-weight: 600;

}

.footer-lower-part-inner div:nth-child(2) > div span {
    font-size: 9px !important;
    color: lightgrey !important;


}


.footer-lower-part-inner-2  {
    text-align: center;
    margin-top: 30px;
}





.footer-lower-mid-part {
    background: #232F3E;
    height: 150px;
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 20px 20px 1fr;
    gap: 20px;
}


.footer-lower-mid-part ul {
    display: flex;
    gap: 10px;
}


.footer-lower-mid-part li {
    color: white;
    list-style-type: none;
}

.footer-lower-mid-part li::before {
    content: ' | ';
}

.footer-lower-mid-part li:first-child::before {
    content: ' '
}



.footer-upper-part {
    height: 50px;
    background: var(--top-foot);
    text-align: center;
}

.footer-upper-part span {
    padding: 16px;
    color: white;
}




.footer-upper-part span:hover {
    background: #496280;
    cursor: pointer;
}



.footer-upper-mid-part {
    background: #232F3E;
    height: 360px;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 75px;
}

.footer-upper-mid-part ul {
    color: white;
    margin-top: 40px;
}

.footer-upper-mid-part ul li:first-child {
    font-size: 18px;
    font-weight: 600;
}

.footer-upper-mid-part li:first-child {
    font-weight: 600 !important;
    font-size: 16px !important;
    color: white !important;
}

.footer-upper-mid-part li {
    color: white;
    list-style-type: none;
    font-size: 14px !important;
    color: lightgrey !important;
}



