

.my-account-content {
    margin-top: 2rem !important;
}

.my-account-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}


.my-account-content > div > span {
    font-size: 2.3rem !important;
  
}

.my-account-cards-container.second {
    margin-top: 50px !important;
}