a:link {
    text-decoration: none !important;
    color: #007185 !important;
}

h4 {
    font-size: 1.3rem !important;
}



a:hover {
    cursor:pointer;
    color: var(--dark-orange) !important;
}


span.link:hover {
    cursor:pointer !important;
    color: var(--dark-orange) !important;
}



a:visited {
    text-decoration: none !important;
    color: #007185 !important;
}

button, input {
    color: black !important;
}


* {
    color: black !important;
    font-family: Arial !important;
    font-size: 12px  !important;
}

li {
    list-style-type: none !important;
    
}


.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-550 {
    font-weight:550;
}


.fw-525 {
    font-weight:525;
}


